# Excerpt from the New York Times
http://www.nytimes.com/2014/09/20/nyregion/friskings-ebb-but-still-hang-over-brooklyn-lives.html?_r=0

In the housing projects of eastern Brooklyn, some young men no longer clasp hands when greeting each other, they say, fearful that their grasp might be mistaken for a drug deal and invite a search by the police. Friends heading to the bodega sometimes split up, worried that walking in a group will attract police attention.

They are subtle yet telling changes, lasting effects of years of police stops of young men, mostly in black and Latino neighborhoods. Often the stops were without legal justification, a federal court found last year.

Today, “stop-and-frisk” as New York City knew it is over, undone by a torrent of public outrage and political pressure, and by legal challenges that culminated in the ruling that the Police Department’s drastically increased use of the street stops of black and Hispanic men over the preceding decade was unconstitutional.

This is a quick example of converting data in to time stamps that pandas can understand and manipulate.

# Time Stamps

In [2]:
import pandas as pd

# the file must be placed in the same directory as where you are running iPython
# read in from csv file into a pandas data frame
df = pd.read_csv('data/SQF 2012.csv')
df.sex += 1 # make inline with the rest of the nominals in the datset

In [3]:
# let's take a look at the dataset (the csv I am using has a reduced number of columns) 
pd.options.display.max_columns = 0
df.head()

   year  datestop  timestop  city    ...     weight  frisked  searched  arstmade
0  2012   1012012       115   3.0    ...        155        1         0         0
1  2012   1012012       310   1.0    ...        175        0         0         0
2  2012   1012012      2000   2.0    ...        180        0         0         0
3  2012   1022012      1245   2.0    ...        210        0         0         0
4  2012   1042012      2220   2.0    ...        170        0         0         0

[5 rows x 12 columns]

In [4]:
df.describe() # display statistitcs from the dataset

           year      datestop      ...             searched       arstmade
count  532911.0  5.329110e+05      ...        532911.000000  532911.000000
mean     2012.0  5.563631e+06      ...             0.083031       0.060639
std         0.0  3.413338e+06      ...             0.275929       0.238667
min      2012.0  1.012012e+06      ...             0.000000       0.000000
25%      2012.0  2.292012e+06      ...             0.000000       0.000000
50%      2012.0  5.052012e+06      ...             0.000000       0.000000
75%      2012.0  8.252012e+06      ...             0.000000       0.000000
max      2012.0  1.231201e+07      ...             1.000000       1.000000

[8 rows x 12 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532911 entries, 0 to 532910
Data columns (total 12 columns):
year        532911 non-null int64
datestop    532911 non-null int64
timestop    532911 non-null int64
city        532906 non-null float64
sex         525127 non-null float64
race        519050 non-null float64
age         532911 non-null int64
height      532911 non-null int64
weight      532911 non-null int64
frisked     532911 non-null int64
searched    532911 non-null int64
arstmade    532911 non-null int64
dtypes: float64(3), int64(9)
memory usage: 48.8 MB

In [6]:
# convert ot a date time
date_as_series = pd.to_datetime(df.datestop.astype(str),format='%m%d%Y')
date_as_series

0        2012-10-01
1        2012-10-01
2        2012-10-01
3        2012-10-02
4        2012-10-04
5        2012-10-05
6        2012-10-05
7        2012-10-06
8        2012-10-06
9        2012-10-06
10       2012-10-06
11       2012-10-06
12       2012-10-07
13       2012-10-07
14       2012-10-07
15       2012-10-08
16       2012-10-08
17       2012-10-08
18       2012-10-08
19       2012-10-08
20       2012-01-10
21       2012-01-10
22       2012-01-10
23       2012-01-10
24       2012-11-01
25       2012-11-01
26       2012-11-01
27       2012-11-01
28       2012-11-01
29       2012-11-01
            ...
532881   2012-12-28
532882   2012-12-28
532883   2012-12-28
532884   2012-12-28
532885   2012-12-19
532886   2012-12-29
532887   2012-12-29
532888   2012-12-01
532889   2012-12-11
532890   2012-12-27
532891   2012-12-27
532892   2012-12-29
532893   2012-12-29
532894   2012-12-29
532895   2012-12-30
532896   2012-12-30
532897   2012-12-31
532898   2012-12-31
532899   2012-12-28
532900   2012-12-28
532901   2012-12-28
532902   2012-12-29
532903   2012-10-06
532904   2012-10-08
532905   2012-10-18
532906   2012-11-04
532907   2012-11-04
532908   2012-11-04
532909   2012-11-04
532910   2012-11-08
Name: datestop, dtype: datetime64[ns]

In [7]:
# convert to a string that is representable with hours and minutes
timeofday_str = ["%2.2d:%2.2d"%(float(d)/100, float(d)%100) for d in df.timestop]

# convert that string using the dat_time function
timeofday = pd.to_datetime(timeofday_str,format='%H:%M')
timeofday

DatetimeIndex(['1900-01-01 01:15:00', '1900-01-01 03:10:00',
               '1900-01-01 20:00:00', '1900-01-01 12:45:00',
               '1900-01-01 22:20:00', '1900-01-01 15:50:00',
               '1900-01-01 21:30:00', '1900-01-01 12:30:00',
               '1900-01-01 15:10:00', '1900-01-01 16:30:00',
               ...
               '1900-01-01 23:10:00', '1900-01-01 20:20:00',
               '1900-01-01 21:45:00', '1900-01-01 22:50:00',
               '1900-01-01 23:30:00', '1900-01-01 19:30:00',
               '1900-01-01 19:30:00', '1900-01-01 23:05:00',
               '1900-01-01 23:05:00', '1900-01-01 21:13:00'],
              dtype='datetime64[ns]', length=532911, freq=None)

In [8]:
timeofday_str = ["%s %2.2d:%2.2d"%(dat,float(hr)/100, float(hr)%100) for hr,dat in zip(df.timestop,df.datestop.astype(str))]
alldates = pd.to_datetime(timeofday_str,format='%m%d%Y %H:%M')
alldates

DatetimeIndex(['2012-10-01 01:15:00', '2012-10-01 03:10:00',
               '2012-10-01 20:00:00', '2012-10-02 12:45:00',
               '2012-10-04 22:20:00', '2012-10-05 15:50:00',
               '2012-10-05 21:30:00', '2012-10-06 12:30:00',
               '2012-10-06 15:10:00', '2012-10-06 16:30:00',
               ...
               '2012-12-28 23:10:00', '2012-12-29 20:20:00',
               '2012-10-06 21:45:00', '2012-10-08 22:50:00',
               '2012-10-18 23:30:00', '2012-11-04 19:30:00',
               '2012-11-04 19:30:00', '2012-11-04 23:05:00',
               '2012-11-04 23:05:00', '2012-11-08 21:13:00'],
              dtype='datetime64[ns]', length=532911, freq=None)

Some of the code in this notebook below is manipulated from the examples of how to use the DateTimeIndex in pandas, except manipulated for use with the current data.
- http://pandas.pydata.org/pandas-docs/stable/timeseries.html

In [9]:
# now lets replace the index of the pandas dataframe with the time stamp
df.index = alldates

In [10]:
# with the timestamp as an index, you can do all sorts of nifty, accelrated operations
df['2012-6']

                     year  datestop    ...     searched  arstmade
2012-06-02 15:00:00  2012   6022012    ...            1         1
2012-06-02 19:10:00  2012   6022012    ...            0         0
2012-06-01 19:38:00  2012   6012012    ...            0         0
2012-06-02 17:35:00  2012   6022012    ...            0         0
2012-06-02 17:35:00  2012   6022012    ...            0         0
2012-06-02 17:35:00  2012   6022012    ...            0         0
2012-06-02 05:49:00  2012   6022012    ...            0         0
2012-06-02 05:49:00  2012   6022012    ...            0         0
2012-06-02 05:49:00  2012   6022012    ...            0         0
2012-06-02 05:49:00  2012   6022012    ...            0         0
2012-06-02 08:30:00  2012   6022012    ...            0         0
2012-06-03 20:08:00  2012   6032012    ...            0         0
2012-06-03 23:20:00  2012   6032012    ...            0         0
2012-06-04 03:50:00  2012   6042012    ...            0         0
2012-06-02 20:35:00  2012   6022012    ...            0         0
2012-06-05 17:01:00  2012   6052012    ...            0         0
2012-06-05 20:46:00  2012   6052012    ...            0         0
2012-06-03 13:10:00  2012   6032012    ...            0         0
2012-06-02 20:36:00  2012   6022012    ...            0         0
2012-06-02 21:50:00  2012   6022012    ...            0         0
2012-06-01 14:54:00  2012   6012012    ...            0         1
2012-06-02 20:54:00  2012   6022012    ...            0         0
2012-06-02 05:18:00  2012   6022012    ...            0         0
2012-06-02 03:24:00  2012   6022012    ...            0         0
2012-06-02 02:06:00  2012   6022012    ...            0         0
2012-06-02 01:19:00  2012   6022012    ...            0         0
2012-06-06 03:32:00  2012   6062012    ...            0         0
2012-06-02 22:07:00  2012   6022012    ...            0         0
2012-06-02 21:37:00  2012   6022012    ...            0         0
2012-06-03 01:12:00  2012   6032012    ...            0         0
...                   ...       ...    ...          ...       ...
2012-06-22 14:39:00  2012   6222012    ...            0         0
2012-06-27 19:30:00  2012   6272012    ...            0         0
2012-06-28 22:15:00  2012   6282012    ...            0         0
2012-06-28 22:15:00  2012   6282012    ...            0         0
2012-06-28 01:00:00  2012   6282012    ...            0         0
2012-06-28 01:00:00  2012   6282012    ...            0         0
2012-06-30 23:15:00  2012   6302012    ...            0         0
2012-06-26 12:30:00  2012   6262012    ...            0         0
2012-06-29 22:30:00  2012   6292012    ...            0         0
2012-06-29 22:30:00  2012   6292012    ...            0         0
2012-06-06 21:40:00  2012   6062012    ...            0         0
2012-06-27 00:35:00  2012   6272012    ...            0         0
2012-06-30 06:50:00  2012   6302012    ...            0         0
2012-06-30 23:45:00  2012   6302012    ...            0         0
2012-06-30 22:40:00  2012   6302012    ...            0         0
2012-06-30 22:40:00  2012   6302012    ...            0         0
2012-06-28 22:00:00  2012   6282012    ...            0         0
2012-06-28 22:00:00  2012   6282012    ...            0         0
2012-06-28 22:00:00  2012   6282012    ...            0         0
2012-06-25 22:00:00  2012   6252012    ...            0         0
2012-06-28 21:45:00  2012   6282012    ...            0         0
2012-06-28 21:45:00  2012   6282012    ...            0         0
2012-06-28 20:50:00  2012   6282012    ...            0         0
2012-06-27 20:00:00  2012   6272012    ...            0         0
2012-06-28 22:00:00  2012   6282012    ...            0         0
2012-06-28 22:00:00  2012   6282012    ...            0         0
2012-06-30 00:11:00  2012   6302012    ...            0         0
2012-06-20 00:11:00  2012   6202012    ...            0         0
2012-06-30 00:37:00  2012   6302012    ...            0         0
2012-06-26 23:20:00  2012   6262012    ...            0         0

[32116 rows x 12 columns]

In [11]:
df['2012-4-1':'2012-4-2']

                     year  datestop    ...     searched  arstmade
2012-04-01 15:48:00  2012   4012012    ...            0         0
2012-04-01 19:02:00  2012   4012012    ...            0         0
2012-04-01 19:02:00  2012   4012012    ...            0         1
2012-04-01 00:45:00  2012   4012012    ...            0         0
2012-04-01 00:45:00  2012   4012012    ...            0         0
2012-04-01 15:55:00  2012   4012012    ...            0         0
2012-04-01 15:55:00  2012   4012012    ...            0         0
2012-04-02 08:35:00  2012   4022012    ...            0         0
2012-04-02 12:20:00  2012   4022012    ...            0         0
2012-04-02 11:30:00  2012   4022012    ...            0         0
2012-04-01 16:45:00  2012   4012012    ...            0         0
2012-04-01 15:45:00  2012   4012012    ...            0         0
2012-04-02 15:27:00  2012   4022012    ...            0         0
2012-04-02 14:35:00  2012   4022012    ...            0         0
2012-04-02 18:07:00  2012   4022012    ...            0         0
2012-04-01 15:50:00  2012   4012012    ...            0         0
2012-04-02 02:20:00  2012   4022012    ...            0         0
2012-04-02 12:15:00  2012   4022012    ...            0         0
2012-04-02 12:15:00  2012   4022012    ...            0         0
2012-04-02 17:00:00  2012   4022012    ...            0         0
2012-04-02 17:00:00  2012   4022012    ...            1         1
2012-04-02 14:06:00  2012   4022012    ...            0         0
2012-04-02 14:25:00  2012   4022012    ...            0         1
2012-04-01 00:55:00  2012   4012012    ...            0         0
2012-04-01 00:55:00  2012   4012012    ...            0         0
2012-04-01 00:40:00  2012   4012012    ...            1         0
2012-04-01 03:05:00  2012   4012012    ...            0         0
2012-04-01 01:00:00  2012   4012012    ...            1         0
2012-04-01 03:05:00  2012   4012012    ...            0         0
2012-04-01 23:59:00  2012   4012012    ...            0         0
...                   ...       ...    ...          ...       ...
2012-04-01 16:15:00  2012   4012012    ...            0         0
2012-04-01 16:10:00  2012   4012012    ...            0         0
2012-04-02 21:10:00  2012   4022012    ...            0         0
2012-04-02 16:16:00  2012   4022012    ...            0         0
2012-04-01 00:10:00  2012   4012012    ...            0         0
2012-04-02 01:25:00  2012   4022012    ...            0         0
2012-04-01 00:40:00  2012   4012012    ...            0         0
2012-04-01 01:20:00  2012   4012012    ...            0         0
2012-04-01 01:20:00  2012   4012012    ...            0         0
2012-04-02 08:30:00  2012   4022012    ...            0         0
2012-04-02 08:30:00  2012   4022012    ...            0         0
2012-04-02 22:20:00  2012   4022012    ...            0         0
2012-04-01 00:10:00  2012   4012012    ...            0         0
2012-04-02 22:00:00  2012   4022012    ...            0         0
2012-04-02 22:20:00  2012   4022012    ...            0         0
2012-04-02 22:20:00  2012   4022012    ...            0         0
2012-04-01 12:12:00  2012   4012012    ...            0         0
2012-04-01 21:33:00  2012   4012012    ...            0         0
2012-04-01 22:30:00  2012   4012012    ...            0         0
2012-04-02 01:05:00  2012   4022012    ...            0         0
2012-04-01 02:30:00  2012   4012012    ...            0         0
2012-04-01 02:10:00  2012   4012012    ...            0         0
2012-04-01 17:25:00  2012   4012012    ...            0         0
2012-04-01 17:25:00  2012   4012012    ...            0         0
2012-04-02 00:25:00  2012   4022012    ...            0         0
2012-04-02 01:15:00  2012   4022012    ...            0         0
2012-04-02 02:25:00  2012   4022012    ...            0         0
2012-04-02 15:53:00  2012   4022012    ...            0         0
2012-04-01 17:25:00  2012   4012012    ...            0         0
2012-04-01 17:25:00  2012   4012012    ...            0         0

[3115 rows x 12 columns]

In [12]:
df.frisked['2012-4-1':'2012-4-2'].sum() / float(df.frisked['2012-4-1':'2012-4-2'].count()) *100

49.117174959871591

In [13]:
# Property	Description
# year	The year of the datetime
# month	The month of the datetime
# day	The days of the datetime
# hour	The hour of the datetime
# minute	The minutes of the datetime
# second	The seconds of the datetime
# microsecond	The microseconds of the datetime
# nanosecond	The nanoseconds of the datetime
# date	Returns datetime.date
# time	Returns datetime.time
# dayofyear	The ordinal day of year
# weekofyear	The week ordinal of the year
# week	The week ordinal of the year
# dayofweek	The day of the week with Monday=0, Sunday=6
# weekday	The day of the week with Monday=0, Sunday=6
# quarter	Quarter of the date: Jan=Mar = 1, Apr-Jun = 2, etc.
# is_month_start	Logical indicating if first day of month (defined by frequency)
# is_month_end	Logical indicating if last day of month (defined by frequency)
# is_quarter_start	Logical indicating if first day of quarter (defined by frequency)
# is_quarter_end	Logical indicating if last day of quarter (defined by frequency)
# is_year_start	Logical indicating if first day of year (defined by frequency)
# is_year_end	Logical indicating if last day of year (defined by frequency)

df[df.index.dayofweek==2]

                     year  datestop    ...     searched  arstmade
2012-11-07 00:30:00  2012   1172012    ...            0         0
2012-11-07 18:50:00  2012   1172012    ...            0         0
2012-11-07 20:50:00  2012   1172012    ...            0         0
2012-11-07 21:00:00  2012   1172012    ...            0         0
2012-11-07 21:45:00  2012   1172012    ...            0         0
2012-11-07 22:15:00  2012   1172012    ...            0         0
2012-12-05 13:28:00  2012   1252012    ...            0         0
2012-12-05 16:50:00  2012   1252012    ...            0         0
2012-12-05 19:35:00  2012   1252012    ...            0         0
2012-12-05 20:55:00  2012   1252012    ...            0         0
2012-12-05 21:30:00  2012   1252012    ...            0         0
2012-12-05 23:15:00  2012   1252012    ...            0         0
2012-02-01 13:00:00  2012   2012012    ...            0         0
2012-02-01 15:40:00  2012   2012012    ...            0         0
2012-02-01 17:05:00  2012   2012012    ...            0         0
2012-02-01 17:40:00  2012   2012012    ...            1         0
2012-02-01 18:40:00  2012   2012012    ...            0         0
2012-02-01 21:10:00  2012   2012012    ...            0         0
2012-02-08 12:20:00  2012   2082012    ...            0         0
2012-02-08 13:30:00  2012   2082012    ...            0         0
2012-02-08 15:01:00  2012   2082012    ...            0         0
2012-02-08 16:50:00  2012   2082012    ...            0         0
2012-02-08 19:00:00  2012   2082012    ...            1         0
2012-02-08 21:00:00  2012   2082012    ...            0         0
2012-02-15 15:45:00  2012   2152012    ...            1         0
2012-02-15 22:41:00  2012   2152012    ...            0         0
2012-02-15 23:20:00  2012   2152012    ...            0         0
2012-02-22 10:05:00  2012   2222012    ...            0         0
2012-02-22 14:30:00  2012   2222012    ...            0         0
2012-02-29 23:00:00  2012   2292012    ...            0         0
...                   ...       ...    ...          ...       ...
2012-10-24 21:45:00  2012  10242012    ...            0         0
2012-10-24 00:50:00  2012  10242012    ...            0         0
2012-11-07 10:25:00  2012  11072012    ...            1         0
2012-11-07 10:25:00  2012  11072012    ...            0         0
2012-10-17 20:35:00  2012  10172012    ...            0         0
2012-10-17 22:45:00  2012  10172012    ...            0         0
2012-11-14 01:20:00  2012  11142012    ...            0         0
2012-11-28 13:30:00  2012  11282012    ...            0         0
2012-10-17 20:35:00  2012  10172012    ...            0         0
2012-11-07 22:30:00  2012  11072012    ...            0         0
2012-11-07 22:30:00  2012  11072012    ...            0         0
2012-11-28 22:15:00  2012  11282012    ...            0         0
2012-12-05 10:00:00  2012  12052012    ...            0         0
2012-12-05 10:00:00  2012  12052012    ...            0         0
2012-12-12 08:10:00  2012  12122012    ...            0         1
2012-12-05 15:30:00  2012  12052012    ...            0         0
2012-12-05 14:03:00  2012  12052012    ...            0         0
2012-11-28 00:30:00  2012  11282012    ...            0         0
2012-12-05 14:03:00  2012  12052012    ...            0         0
2012-12-05 15:04:00  2012  12052012    ...            0         0
2012-12-12 13:02:00  2012  12122012    ...            0         0
2012-10-17 21:15:00  2012  10172012    ...            0         0
2012-10-17 21:15:00  2012  10172012    ...            0         0
2012-10-24 18:05:00  2012  10242012    ...            0         0
2012-11-28 19:45:00  2012  11282012    ...            0         0
2012-11-28 22:15:00  2012  11282012    ...            0         0
2012-11-28 22:15:00  2012  11282012    ...            0         0
2012-11-28 23:30:00  2012  11282012    ...            0         0
2012-12-12 11:40:00  2012  12122012    ...            0         0
2012-12-19 00:20:00  2012  12192012    ...            1         1

[80480 rows x 12 columns]

In [14]:
# another fun example
df[(df.index.hour<1) & (df.frisked==1)].count()

year        19363
datestop    19363
timestop    19363
city        19363
sex         19080
race        18893
age         19363
height      19363
weight      19363
frisked     19363
searched    19363
arstmade    19363
dtype: int64